<button class="custom-btn {{ btn_type }}" data-url="{{ btn_url }}">
    <span>
        {{ btn_text }}
        <img class="arrow-black" src="https://cdn.shopify.com/s/files/1/0618/9108/4363/files/Line_15.png?v=1749611158" >
        <img class="arrow-white" src="https://cdn.shopify.com/s/files/1/0618/9108/4363/files/arrow-white.png?v=1749611235" >
    </span>
</button> 


<style>
    .custom-btn {
       font-family: "Jost";
        font-weight: 400;
        font-size: 16px;
        line-height: 20.48px;
        letter-spacing: 0px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        transform: translateZ(0);
        position: relative;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 11px 0;
        width: 207px;
        cursor: pointer;
    }
    .custom-btn span {
      display: flex;
      gap: 18px;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
    }
    .custom-btn::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.3s;
    }
    .custom-btn:hover::before {
        transform: scaleX(1);
    }
    .btn-primary {
        background-color: black;
        color: white;
            width: 220px;
    padding-block: 14px;
    }
    .btn-primary .arrow-black, .btn-secondary .arrow-white{
        display: none ;
    }
    .btn-primary .arrow-white, .btn-secondary .arrow-black {
        display: inline-block;
    }
    .btn-primary::before {
        background-color: #FFF544;
    }
    .btn-primary:hover {
        color: black;
    }
    .btn-secondary:hover .arrow-black, .btn-primary:hover .arrow-white {
        display: none;
    }
    .btn-secondary:hover .arrow-white , .btn-primary:hover .arrow-black {
        display: inline-block;
    }
    .btn-secondary {
        background-color: #FFF544;
    }
    .btn-secondary::before {
        background-color: black;
    }
    .btn-secondary:hover {
        color: white;
    }
    .arrow-black , .arrow-white {
        max-width: 24px;
        width: 100%;
        height: auto;
    }
</style>